body {
    background-image: url('images/background.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    background-color: #03b1e64d;
    color: white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    text-align: right;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid black;
}

header a {
    color: rgb(47, 255, 168);
}

h1 {
    text-align: center;
}

header.left {
    text-align: left;
}

header.right {
    text-align: right;
}

header.center {
    text-align: center;
}

.content {
    border-radius: 15px;
    background-color: white;
}