body {
    background-image: url('images/background.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #03b1e64d;
    color: white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    padding: 5px;
    border-radius: 25px;
    border: 1px solid black;
}

header a {
    color: rgb(47, 255, 168);
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(5, 179, 179);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 15px;
}

.content p {
    display: flex;
    padding: 15px;
    align-items: center;
}
