header {
    background-color: #03b1e64d;
    color: white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    text-align: right;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid black;
}

header a {
    color: rgb(47, 255, 168);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/background.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    background-color: white;
}

.content input {
    width: 100%;
    text-align: center;
}

p input {
    width: 100%;
}

#err {
    text-align: center;
    color: red;
    font-style: bold;
}

form {
    background-color: #03b1e64d;
    color: white;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}
